<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6cdac">  <td>23/10/19 11:24:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:testclasspackage.Patch_TC1@7188af83]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="bff5b7">  <td>23/10/19 11:24:37</td>   <td>-269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:testclasspackage.Get_TC1@496bc455]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>23/10/19 11:24:33</td>   <td>-3911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:testclasspackage.Post_TC1@7c137fd5]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="9aafa1">  <td>23/10/19 11:24:37</td>   <td>-189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:testclasspackage.Put_TC1@59402b8f]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="e76cc7">  <td>23/10/19 11:24:37</td>   <td>-371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.executor()[pri:0, instance:testclasspackage.Delete_TC1@70ed52de]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
</table>
